body {
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background: #005073;
}



button.collapsible {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  box-shadow: none;
  padding:30px;
  margin-bottom: 5px;
  background: #f1f1f1;
  }

  .collaps-inside {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white
}

button.collapsible {
  outline: none !important;
  box-shadow: none !important;
  }  

.content {
  margin: 30px;
  padding-bottom: 20%;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: rgb(241, 219, 219);
  background-color: #d2fdbb;
}

input.input {
  background-color: white;
  padding-bottom: 30px;
  border: none;
  text-decoration: underline;
  color: deepskyblue;
}

input.input:active,
input.input:focus{
  outline: none !important;
  box-shadow: none !important;
}

.task-descript {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 8%;
}


@media (max-width: 768px) {
  .task-descript {
  margin-left: 20px;
  margin-right: 20px;
}
}


h1 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.main-head {
  color: #005073;
  font-weight: lighter;
  font-size: 38px;
  letter-spacing: 0.8px;
  text-align: center;
}


.btn.btn-outline-success {
  margin: 5px;
  letter-spacing: 2px;
}

.btn-outline-success:hover {
  background-color: #552c1f;
}

.btn.btn-outline-success:active,
.btn.btn-outline-success:focus {
  outline-color: #552c1f;
  outline: none !important;
  box-shadow: none !important;
}

div.alert.alert-info {
  text-align: center;
  font-size: 28px;
}

p {
  padding: 10px;
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}

#navbar-btn0:hover,
#navbar-btn1:hover,
#navbar-btn2:hover,
#navbar-btn3:hover,
#navbar-btn4:hover,
#navbar-btn5:hover,
#navbar-btn0:active,
#navbar-btn1:active,
#navbar-btn2:active,
#navbar-btn3:active,
#navbar-btn4:active,
#navbar-btn5:active,
#navbar-btn0:focus,
#navbar-btn1:focus,
#navbar-btn2:focus,
#navbar-btn3:focus,
#navbar-btn4:focus,
#navbar-btn5:focus {
  background-color: #d2fdbb;
  border: #d2fdbb;
  box-shadow: none;
  color: #005073;
  letter-spacing: 2px;
}

.btn.btn-outline-success {
  margin: 5px;
}

.btn-outline-success {
  color: #d2fdbb;
  border-color: #d2fdbb;
  font-weight: lighter;
}
